<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Project3_StockStatus::stockstatus"
             title="Stock Status"
             module="Project3_StockStatus"
             action="adminhtml/system_config/edit/section/stockstore/"
             sortOrder="60"
             resource="Project3_StockStatus::stockstatus"/>
    </menu>
</config>