<?xml    version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/sy
stem_file.xsd">
    <system>
        <tab id="Project3" translate="label" sortOrder="500">
            <label>Project3</label>
        </tab>

        <section id="stockstore" translate="label" type="text" sortOrder="100"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Custom Stock Status</label>
            <tab>Project3</tab>
            <resource>Project3_StockStatus::config_stockstatus</resource>
            <group id="statuspage" translate="label" type="text" sortOrder="1"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled_status" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Stock Status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="enabled_number" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Notice Number Left</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="design" translate="label" type="text" sortOrder="4"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Design Status</label>
                <field id="font_family" translate="label" type="select"
                       sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Family</label>
                    <source_model>Project3\StockStatus\Model\Config\FontFamily</source_model>
                    <comment>Most popular Google Fonts are used.</comment>
                </field>
                <field id="font_size" translate="label" type="text"
                       sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Size (px)</label>
                </field>
                <field id="font_weight" translate="label" type="select"
                       sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Weight</label>
                    <source_model>Project3\StockStatus\Model\Config\FontWeight</source_model>
                </field>
                <field id="text_align" translate="label" type="select"
                       sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Align</label>
                    <source_model>Project3\StockStatus\Model\Config\TextAlign</source_model>
                </field>
                <field id="font_color" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Font Color</label>
                    <comment>Color code, example: #F1FFEB</comment>
                </field>
                <field id="background_color" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Background Color</label>
                    <comment>Color code, example: #FF0000</comment>
                </field>
            </group>
        </section>
    </system>
</config>